<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <base href="{{extensionPath}}/">
  <link rel="stylesheet" type="text/css" href="catalog.css" media="all">
</head>

<body>
  {{#each panels}}
  <div class="catalog-panel{{#if active}} catalog-panel-opened{{/if}}{{#if disabled}} catalog-panel-disabled{{/if}}"
    style="margin-top: calc(28px * {{@index}}); margin-bottom: calc(28px * ({{../panels.length}} - {{@index}} - 1));">
    <div class="catalog-header icon-triangle">
      <span class="catalog-header-label">{{label}} :</span>
      {{#if decision}}<span class="catalog-decision">{{decision}}</span>{{/if}}
    </div>
    {{#if active}}{{#if items}}
    <div class="catalog-list">
      {{#each items}}
      <div class="catalog-item{{#if ../withIcons}} catalog-item-with-icon{{/if}}">
        {{#if ../withIcons}}
        <div class="catalog-item-icon">
          <img class="catalog-image-64" src="images/{{#if icon}}{{icon}}{{else}}no_image_64x64.png{{/if}}" width="64" height="64" />
        </div>
        {{/if}}
        <div class="catalog-item-line">
          <span class="catalog-item-title">{{title}}</span>
          {{#if preview}}
          <span class="catalog-badge catalog-badge-pill catalog-badge-lightblue ">{{preview}}</span>
          {{/if}}
        </div>
        <div class="catalog-item-description">{{description}}</div>
        <div class="catalog-item-author">{{author}}</div>
        {{#if tags}}
        <div class="catalog-item-tags">
          {{#each tags}}
          <span class="catalog-badge{{#if color}} catalog-badge-{{color}}{{/if}}">{{name}}</span>
          {{/each}}
        </div>
        {{/if}}
        <span class="catalog-item-config icon-gear">&nbsp;</span>
      </div>
      {{else}}
      {{/each}}
    </div>
    {{/if}}{{/if}}
  </div>
  {{/each}}
  <a id="sendCommand" href="command:{{command}}?" style="display: none"></a>
  <script src="{{extensionPath}}/out/src/catalogPage.js"></script>
</body>

</html>