<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>

<body>
  <div>{{currentPage}}</div>
  <a href="{{cmd}}">TEST</a>
  <div class="col-md-12">
    <div class="media media-bordered" id="board-PeridotBoard" style="" data-name="PeridotBoard">
      <div class="media-left">
        <img class="media-object" src="{{extensionPath}}/images/boards/peridot_64x64.png" height="72" width="72">
      </div>
      <div class="media-body">
        <h4 class="media-heading"><span class="placeholder">PERIDOT</span>
          <button class="board-use-this pull-right btn btn-info btn-xs i18n" title=""><span class="glyphicon glyphicon-ok board-when-selected">&nbsp;</span>このボードを使う</button>
        </h4>
        <span class="placeholder">ハードウェア構成をカスタマイズできるFPGA搭載のArduino互換形状ボード。スクリプト言語エンジンはmrubyを搭載。</span>
        <br><span class="i18n" title="">作者</span>:
        <span class="placeholder">J-7SYSTEM WORKS</span>&nbsp;/&nbsp;
        <a href="https://osafune.github.io/peridot.html" class="placeholder i18n" target="_blank" title="">WEBサイト</a>
      </div>
    </div>
    <div class="media media-bordered" id="board-GrCitrusBoard" style="" data-name="GrCitrusBoard">
      <div class="media-left">
        <img class="media-object" src="{{extensionPath}}/images/boards/grcitrus_64x64.png" height="72" width="72">
      </div>
      <div class="media-body">
        <h4 class="media-heading"><span class="placeholder">GR-CITRUS</span>
          <button class="board-use-this pull-right btn btn-info btn-xs i18n" title=""><span class="glyphicon glyphicon-ok board-when-selected">&nbsp;</span>このボードを使う</button>
        </h4>
        <span class="placeholder">GR-CITRUSはRubyが気軽に使える小型ボード。ルネサス32ビットマイコンRX631グループMCUを搭載しています。</span>
        <br><span class="i18n" title="">作者</span>:
        <span class="placeholder">Wakayama.rb</span>&nbsp;/&nbsp;
        <a href="https://github.com/wakayamarb/" class="placeholder i18n" target="_blank" title="">WEBサイト</a>
      </div>
    </div>
    <div class="media media-bordered" id="board-WakayamaRbBoard" style="" data-name="WakayamaRbBoard">
      <div class="media-left">
        <img class="media-object" src="{{extensionPath}}/images/boards/wrbb_64x64.png" height="72" width="72">
      </div>
      <div class="media-body">
        <h4 class="media-heading"><span class="placeholder">Wakayama.rb ボード</span>
          <button class="board-use-this pull-right btn btn-info btn-xs i18n" title=""><span class="glyphicon glyphicon-ok board-when-selected">&nbsp;</span>このボードを使う</button>
        </h4>
        <span class="placeholder">Wakayama.rbボードはmrubyを搭載した小型のRubyボードです。</span>
        <br><span class="i18n" title="">作者</span>:
        <span class="placeholder">Minao Yamamoto</span>&nbsp;/&nbsp;
        <a href="https://github.com/tarosay/Wakayama-mruby-board" class="placeholder i18n" target="_blank" title="">WEBサイト</a>
      </div>
    </div>
  </div>
</body>

</html>