<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <base href="{{extensionPath}}/">
  <link rel="stylesheet" type="text/css" href="catalog.css" media="all">
  <link rel="stylesheet" type="text/css" href="markdown.css" media="all">
  <script src="spin.min.js"></script>
</head>

<body>
  <div class="catalog-wrapper{{#unless showPreview}} catalog-hide-previews{{/unless}}{{#if unofficial}} catalog-unofficial{{/if}}">
    {{#each panels}}
    <div class="catalog-panel{{#if opened}} catalog-panel-opened{{/if
    }}{{#if not_selected}} catalog-panel-not-selected{{/if
    }}{{#if disabled}} catalog-panel-disabled{{/if}}{{#if changed}} catalog-panel-changed{{/if}}"
    style="margin-top: calc(28px * {{@index}}); margin-bottom: calc(1px + 28px * ({{../panels.length}} - {{@index}} - 1));"
    data-id="{{id}}">
      <div class="catalog-header icon-triangle">
        <span class="catalog-header-label">{{label}}{{#if items}} :
          <span class="catalog-header-decision">{{decision}}</span>
          <span class="catalog-header-loading">{{@root.localized.loading}}</span>
          <span class="catalog-header-disabled">{{@root.localized.unselectable}}</span>
          <span class="catalog-header-not-selected">{{@root.localized.not_selected}}</span>
          <span class="catalog-header-changed catalog-badge catalog-badge-green">{{@root.localized.changed}}</span>
        {{/if}}{{!--items--}}</span>
      </div>
      <div class="catalog-content-loading">
        <div class="catalog-spinner-text">{{#if loading}}{{loading}}{{else}}{{@root.localized.loading}}{{/if}}</div>
      </div>
      {{#if pages}}
      <div class="catalog-pages">
        <div class="catalog-pages-nav">
          <ul>
            {{#each pages}}
            <li role="presentation"><a href="#" data-pidx="{{@index}}" class="catalog-page-link{{#if active}} disabled{{/if}}">{{title}}</a></li>
            {{/each}}{{!--pages--}}
          </ul>
        </div>
        {{#each pages}}
        <div data-pidx="{{@index}}" class="catalog-page-container{{#if active}} active{{/if}}">
          <div class="markdown">{{{content}}}</div>
        </div>
        {{/each}}{{!--pages--}}
      </div>
      {{else}}{{!--if pages--}}
      <div class="catalog-list">
        {{#each items}}
        <div class="catalog-item{{#if settled}} catalog-item-settled{{else}}{{#if preview}} catalog-item-preview{{/if}}{{/if}}{{#if ../withIcons}} catalog-item-with-icon{{/if}}" data-id="{{id}}">
          {{#if ../withIcons}}
          <div class="catalog-item-icon">
            <img class="catalog-image-64" src="{{#if icon}}{{icon}}{{else}}images/no_image_64x64.png{{/if}}" width="64" height="64" />
          </div>
          {{/if}}
          <div class="catalog-item-line">
            <span class="catalog-item-title">{{title}}</span>
            {{#if official}}
            <span class="catalog-badge catalog-badge-pill catalog-badge-green catalog-official">{{@root.localized.official}}</span>
            {{/if}}
            {{#if preview}}
            <span class="catalog-badge catalog-badge-pill catalog-badge-lightblue">{{@root.localized.preview}}</span>
            {{/if}}
            {{#if obsolete}}
            <span class="catalog-badge catalog-badge-pill catalog-badge-red">{{@root.localized.obsolete}}</span>
            {{/if}}
          </div>
          <div class="catalog-item-description">{{description}}</div>
          <div class="catalog-item-author">{{author}}</div>
          {{#if topics}}
          <div class="catalog-item-topics">
            {{#each topics}}
            <span class="catalog-badge{{#if color}} catalog-badge-{{color}}{{/if}}">{{name}}</span>
            {{/each}}
          </div>
          {{/if}}
          <!--<span class="catalog-item-config icon-gear">&nbsp;</span>-->
        </div>
        {{else}}
        <div class="catalog-item-none">{{@root.localized.no_item}}</div>
        {{/each}}
      </div>
      {{/if}}{{!--pages--}}
    </div>
    {{/each}}
  </div>
  <a id="sendCommand" href="command:{{command}}?" style="display: none"></a>
  <script src="{{extensionPath}}/out/src/catalog/catalogPage.js"></script>
</body>

</html>