<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <base href="{{extensionPath}}/">
  <link rel="stylesheet" type="text/css" href="out/src/catalog/template.css" media="all">
  <link rel="stylesheet" type="text/css" href="out/src/catalog/markdown.css" media="all">
  <script src="lib/spin.min.js"></script>
</head>

<body class="platform-{{platformShortName}}">
  <div class="catalog-wrapper{{#unless showPreview}} catalog-hide-previews{{/unless}}{{#if unofficial}} catalog-unofficial{{/if}}">
    {{#each panels}}
    <div class="catalog-panel{{#if opened}} catalog-panel-opened{{/if}}"
    style="margin-top: calc(28px * {{@index}}); margin-bottom: calc(1px + 28px * ({{../panels.length}} - {{@index}} - 1));"
    data-initial-item-id="{{initialItemId}}" data-selected-item-id="{{initialItemId}}"
    data-saved-item-id="{{savedItemId}}" data-panel-id="{{id}}">
      <div class="catalog-header icon-triangle">
        <span class="catalog-header-label">{{title}}{{#if items}} :
          <span class="catalog-header-selection"></span>
          <span class="catalog-header-not-selected">{{@root.localized.not_selected}}</span>
        {{/if}}{{!--items--}}
        </span>
        <span class="catalog-header-loading catalog-badge catalog-badge-blue">{{@root.localized.loading}}</span>
        <span class="catalog-header-changed catalog-badge catalog-badge-green">{{@root.localized.changed}}</span>
      </div>
      <div class="catalog-content-loading">
        <div class="catalog-spinner-text">{{#if loading}}{{loading}}{{else}}{{@root.localized.loading}}{{/if}}</div>
      </div>
      {{#if pages}}
      <div class="catalog-pages">
        <div class="catalog-pages-nav">
          <ul>
            {{#each pages}}
            <li role="presentation"><a href="#" data-pidx="{{@index}}" class="catalog-page-link{{#if active}} disabled{{/if}}">{{title}}</a></li>
            {{/each}}{{!--pages--}}
          </ul>
        </div>
        {{#each pages}}
        <div data-pidx="{{@index}}" class="catalog-page-container{{#if active}} active{{/if}}">
          <div class="markdown">{{{content}}}</div>
        </div>
        {{/each}}{{!--pages--}}
      </div>
      {{else}}{{!--if pages--}}
      <div class="catalog-list">
        {{#each items}}
        <div class="catalog-item{{#if preview}} catalog-item-preview{{/if}}{{#if icon}}
        catalog-item-with-icon{{/if}}{{#if selected}} catalog-item-settled{{/if}}" data-item-id="{{id}}">
          {{#if icon}}
          <div class="catalog-item-icon">
            <img class="catalog-image-64" src="{{icon}}" width="64" height="64" />
          </div>
          {{/if}}
          <div class="catalog-item-line">
            <span class="catalog-item-title">{{title}}</span>
            {{#if official}}
            <span class="catalog-badge catalog-badge-pill catalog-badge-green catalog-official">{{@root.localized.official}}</span>
            {{/if}}
            {{#if preview}}
            <span class="catalog-badge catalog-badge-pill catalog-badge-lightblue">{{@root.localized.preview}}</span>
            {{/if}}
            {{#if obsolete}}
            <span class="catalog-badge catalog-badge-pill catalog-badge-red">{{@root.localized.obsolete}}</span>
            {{/if}}
          </div>
          <div class="catalog-item-description">{{description}}</div>
          <div class="catalog-item-details">{{details}}</div>
          {{#if topics}}
          <div class="catalog-item-topics">
            {{#each topics}}
            <span class="catalog-badge{{#if color}} catalog-badge-{{color}}{{/if}}"
            {{#if tooltip}}title="{{tooltip}}"{{/if}}>{{title}}</span>
            {{/each}}
          </div>
          {{/if}}
          {{#if menus}}
          <!--<div class="catalog-item-config icon-gear">&nbsp;</div>-->
          <div class="context-menu" style="display: none">
            <ul>
            {{#each menus}}
              {{#if title}}
                <li{{#if action}} data-action="{{action}}"{{/if}}{{#if url}} data-url="{{url}}"{{/if}}>{{title}}</li>
              {{else}}
                <li class="divider"></li>
              {{/if}}
            {{/each}}
            </ul>
          </div>
          {{/if}}{{!--menus--}}
        </div>
        {{else}}{{!--each items--}}
        <div class="catalog-item-none">{{@root.localized.no_item}}</div>
        {{/each}}
      </div>
      {{/if}}{{!--pages--}}
    </div>
    {{/each}}
  </div>
  <a id="sendCommand" href="command:{{commandEntry}}?" style="display: none"></a>
  <script src="out/src/catalog/catalogPage.js"></script>
</body>

</html>