<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <base href="{{baseUri}}/">
  <link rel="stylesheet" type="text/css" href="out/src/catalog/webview/catalog.css" media="all">
  <link rel="stylesheet" type="text/css" href="out/src/catalog/webview/markdown.css" media="all">
  <script src="lib/spin.min.js"></script>
  <script src="out/src/catalog/webview/jquery.slim.min.js"></script>
</head>

<body>
  <div class="catalog-wrapper{{#if unofficial}} catalog-unofficial{{/if}}">
    {{#each panels}}
    <div class="catalog-panel{{#if withIcons}} catalog-panel-with-icons{{/if}}{{#if @index}} catalog-panel-disabled{{/if}}{{#if withPages}} catalog-panel-with-pages{{/if}}" id="catalog-panel-{{panelId}}" data-panel-id="{{panelId}}" {{#if withPages}}data-panel-with-pages="1"{{else}}data-nale-with-items="1"{{/if}} style="margin-top: calc(28px * {{@index}}); margin-bottom: calc(1px + 28px * ({{../panels.length}} - {{@index}} - 1));">
      <div class="catalog-header icon-triangle">
        <span class="catalog-header-title">{{localizedTitle}}
          {{#unless withPages}}
          <span class="catalog-header-label"> :
            <span class="catalog-header-selection"></span>
            <span class="catalog-header-not-selected">{{@root.localized.notSelected}}</span>
          </span>
          {{/unless}}{{!--withPages--}}
        </span>
        <span class="catalog-header-loading catalog-badge catalog-badge-blue">{{@root.localized.loading}}</span>
        <span class="catalog-header-changed catalog-badge catalog-badge-green">{{@root.localized.changed}}</span>
      </div>
      <div class="catalog-content-loading">
        <div class="catalog-spinner-text">{{#if loading}}{{loading}}{{else}}{{@root.localized.loading}}{{/if}}</div>
      </div>
      {{#if withPages}}
      <div class="catalog-pages">
        <div class="catalog-pages-nav">
          <ul>
            <li id="template-page-tab" style="display: none;" role="presentation"><a href="#" class="catalog-page-link" title=""></a></li>
          </ul>
        </div>
        <div id="template-page-content" class="catalog-page-container">
          <div class="markdown"></div>
        </div>
      </div>
      {{else}}{{!--withPages--}}
      <div class="catalog-list">
        {{#unless @index}}
        <div id="template-list-item" style="display: none;" class="catalog-item">
          <div class="catalog-item-icon">
            <img class="catalog-image-64" src="images/no_image_64x64.png" width="64" height="64" />
          </div>
          <div class="catalog-item-line">
            <span class="catalog-item-title"></span>
            <span class="catalog-badge catalog-badge-pill catalog-badge-official catalog-badge-green">{{@root.localized.official}}</span>
            <span class="catalog-badge catalog-badge-pill catalog-badge-preview catalog-badge-lightblue">{{@root.localized.preview}}</span>
            <span class="catalog-badge catalog-badge-pill catalog-badge-obsolete catalog-badge-red">{{@root.localized.obsolete}}</span>
          </div>
          <div class="catalog-item-description"></div>
          <div class="catalog-item-details"></div>
          <div class="catalog-item-topics">
            <span class="catalog-item-topic catalog-badge" style="display: none;" title=""></span>
          </div>
          <div class="catalog-item-config icon-gear">&nbsp;</div>
          <ul class="catalog-popup-menu">
            <li class="catalog-menu-item" style="display: none;"><a href=""></a></li>
          </ul>
        </div>
        {{/unless}}{{!--@index--}}
        <div class="catalog-item-none">{{@root.localized.noItem}}</div>
      </div>
      {{/if}}{{!--!withPages--}}
    </div>
    {{/each}}{{!--panels--}}
  </div>
  <script src="out/src/catalog/webview/catalog.js"></script>
</body>

</html>